#!/usr/bin/make -f

build: build-stamp

build-stamp:
	dh_testdir
	./configure --prefix=/usr --with-samba-dir=$(SAMBADIR)
	$(MAKE) 
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	
	dh_clean
	-$(MAKE) distclean
	rm -f build-stamp

binary-arch: build
	dh_testdir
	dh_testroot
	
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=`pwd`/debian/tmp LIBDIR=/usr/lib/samba
	dh_install --sourcedir=`pwd`/debian/tmp
	dh_installdocs -a docs/README docs/pdb_mysql.xml
	dh_installchangelogs -a 
	dh_installexamples -a docs/smb.conf.mysql docs/mysql.dump
	dh_installman -a
	dh_compress -a
	dh_fixperms -a
	dh_shlibdeps -a
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch

.PHONY: build clean binary-arch binary
