Source: samba-pdbsql
Section: net
Priority: optional
Maintainer: Jelmer Vernooij <jelmer@samba.org>
Standards-Version: 3.6.2
Build-Depends: libmysqlclient15-dev, libpq-dev, debhelper (>> 4.0.0)

Package: samba-pdb-mysql
Architecture: any
Depends: ${shlibs:Depends}, samba
Description: MySQL user database support for Samba
 This package adds support for storing Samba user information 
 in MySQL.

Package: samba-pdb-pgsql
Architecture: any
Depends: ${shlibs:Depends}, samba
Description: PostGreSQL user database support for Samba
 This package adds support for storing Samba user information 
 in PostGreSQL.
