Source: samba-pdbsql
Section: net
Priority: optional
Maintainer: Jelmer Vernooij <jelmer@samba.org>
Standards-Version: 3.6.2
Build-Depends: libmysqlclient15-dev, libpq-dev, debhelper (>> 4.0.0)

Package: samba-pdb-mysql
Architecture: any
Depends: ${shlibs:Depends}, samba
Description: MySQL user database support for Samba
 This package adds support for storing Samba user information 
 in MySQL.

Package: samba-pdb-pgsql
Architecture: any
Depends: ${shlibs:Depends}, samba
Description: PostGreSQL user database support for Samba
 This package adds support for storing Samba user information 
 in PostGreSQL.

Package: samba-pdb-multi
Architecture: any
Depends: ${shlibs:Depends}, samba
Description: Support for concurrent user databases in Samba
 This package adds support to Samba for using multiple 
 'passdb backends' at the same time. This feature was removed 
 from upstream Samba in version 3.0.22.
